.item-template-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.expense-item-inputs-container {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  width: 30rem;
}

.card {
  margin-bottom: 1rem;
}

.card-body {
  height: 12rem;
}

/* SUB COMPONENT STYLES BELOW */
.expense-component {
  width: 100%;
}
